# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List of popular languages used by Data Scientists
* List of popular libraries used by Data Scientists
* List of popular tools used by Data Scientists
* Examples of Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language)

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
:------------------:
R Studio
Jupyter Notebooks
Zeppelin Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Edward Njiru